.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 15px 8px 15px 32px;;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a.line::after {
    content: "|";
    width: 0px;
    color: #000;
    font-size: 18px;
    bottom: 0px;
    bottom: -15px;
    position: absolute;
    right: 0;
    left: 0;
    display: table;
    margin: 0 auto;
    font-weight: 100;
}

.sidenav a.line {
    position: relative;
}

.sidenav a:hover {
    text-decoration: none;
    color: #fe4315;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .account {
    margin: 5px;
    font-size: 24px;
    padding: 10px;
    color: black;
    width: fit-content;
    border: 2px solid #fe4315;
}

.sidenav .donate {
    margin: 5px;
    font-size: 24px;
    color: black;
    padding: 10px;
    width: fit-content;
    border: 2px solid #fe4315;
}

.search-div {
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-div .title {
    color: white;
    font-size: 40px;
    padding: 5px 30px;
}

.search-div .custom-select {
    width: fit-content;
    background-color: black;
    color: white;
}

nav .books a {
    color: #fff;
}

nav .books a:hover {
    color: #fe4315;
}

nav .books a:focus,
nav .books a:active,
    {
    color: #fe4315;
}

.menu-btn {
    background: #000;
    border: none;
}

.menu-btn:focus {
    outline: none !important;

}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* book card style */
.book-cover {}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-title {
    font-size: 16px;
    color: #d3d3d3;
}

.book-author {
    font-size: 14px;
    color: #9c9c9c;
}

.book-pages {
    font-size: 14px;
    color: #9c9c9c;
}

.book-publishing-house a {
    font-size: 14px;
    color: #fe4315;
}

.book-publishing-house a:hover {
    color: #fe4315;
}

.book-decsription {
    font-size: 14px;
    color: #9c9c9c;
}

.book-reserve {
    padding: 5px;
    text-align: center;
    background-color: #fe4315;
    border: none;
}

.reserve-card {
    background-color: white;
    display: flex;
    color: black;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.reserve-card .book-title {
    text-align: center;
    color: black;
}

.reserve-date {
    border: none;
}

.select-book {
    width: 200px;
    position: relative;
    padding-top: 15px;
}

.dropdown-toggle::after {
    color: #fff;
}
