body.main {
    background-color: #141414 !important;
}

.menu-bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.home-image {
    background: url(../images/img-homepage.png) no-repeat center top;
    height: 1080px;
    position: relative;
    padding: 50px !important;
    width: auto;
    font-family: 'Montserrat', sans-serif;
}

.home-image:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
}

.home-image .border-top-left {
    position: absolute;
    border-bottom: 5px solid white;
    width: 35%;
    left: 50px;
    top: 50px;
}

.home-image .border-top-right {
    position: absolute;
    border-bottom: 5px solid white;
    width: 35%;
    right: 50px;
    top: 50px;
}

.home-image .border-bottom-left {
    position: absolute;
    border-bottom: 5px solid white;
    width: 44%;
    left: 50px;
    bottom: 50px;
}

.home-image .border-bottom-right {
    position: absolute;
    border-bottom: 5px solid white;
    width: 44%;
    right: 50px;
    bottom: 50px;
}

.home-container {
    height: 100%;
    border-left: 5px solid white;
    border-right: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-container .first {
    font-size: 45px;
    font-weight: 300;
    color: white;
}

.home-container .second {
    font-size: 120px;
    font-weight: bold;
    color: #fe4315;
}

.home-container .second span.o-slash {
    position: relative;
    color: white;
}

.home-container .second span.o-slash span {
    position: absolute;
    font-weight: 200;
    color: white;
    left: 32px;
}

.home-container .third {
    font-size: 45px;
    font-weight: 300;
    color: white;
}

.home-container .account {
    margin: 5px;
    font-size: 24px;
    padding: 10px;
    color: white;
    width: fit-content;
    border: 2px solid #fe4315;
}

.home-container .donate {
    margin: 5px;
    font-size: 24px;
    color: white;
    padding: 10px;
    width: fit-content;
    border: 2px solid white;
}

.number-three {
    display: flex;
    justify-content: center;
}

.number-three img {
    margin-top: -150px;
    z-index: 10;
    position: relative;
}


.project {

    padding-top: 140px;
    padding-bottom: 120px;
}

.project .project-body {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project .project-body .title {
    font-size: 40px;
    font-weight: 300;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.project .project-body .project-content {
    font-weight: 300;
    font-size: 16px;
    color: white;
    line-height: 1.3;
    padding-right: 25px;
}

.category {
    display: flex;
}

.logo-content {
    padding-top: 250px;
}



.category .left-content .left-content-header {
    display: flex;
    justify-content: flex-end;
}

.category .left-content .left-content-inventory {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.category .left-content .left-content-inventory .inventory-start-date {
    font-size: 24px;
    line-height: 1;
    font-weight: 300;
    position: relative;
}

.category .left-content .left-content-inventory .inventory-start-date:before {
    content: " ";
    position: absolute;
    left: -20em;
    right: 2em;
    bottom: -5px;
    z-index: -1;
    border-bottom: 2px solid #fe4315;
}


.category .left-content .left-content-inventory .inventory-count {
    font-size: 140px;
    line-height: 1;
    font-weight: 700;
}

.category .left-content .left-content-inventory .inventory-books {
    font-size: 24px;
    line-height: 1;
    font-weight: 300;
    position: relative;
}

.category .left-content .left-content-inventory .inventory-books:before {
    content: " ";
    position: absolute;
    left: -20em;
    right: 2em;
    bottom: -5px;
    z-index: -1;
    border-bottom: 2px solid #fe4315;
}

.category .right-content {
    padding-right: 25px;
    padding-top: 80px;
}

.category .right-content .right-content-text {
    padding: 30px 0px;
    font-weight: 300;
    color: white;
    font-size: 16px;
}

.category .right-content .title {
    font-size: 40px;
    font-weight: 300;
    color: white;
}

.category .category-list li {
    font-size: 24px;
    color: #fe4315;
    list-style-type: square;
    text-transform: uppercase;
}

.category .category-list .category-title {
    color: white;
    border-bottom: 1px solid #fe4315;
}

.category .category-list .category-title span {
    font-size: 16px;
}

.parteners .parteners-header {
    display: flex;
}

.parteners .parteners-header .parteners-header-content {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
}

.parteners .parteners-header .parteners-title {
    padding-bottom: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    font-weight: 300;
}

.parteners .parteners-header .parteners-text {
    padding-top: 10px;
    color: white;
    font-weight: 300;
    font-size: 16px;
}

.parteners .parteners-header .parteners-special {
    width: 40%;
    display: flex;
    justify-content: center;
}

.parteners .parteners-list {
    padding-top: 50px;
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
}

.parteners .parteners-list img {
    width: fit-content;
    height: fit-content;

    align-self: center;
}

.parteners .parteners-media {
    position: relative;
    padding-top: 50px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
}

.logo-parteners {

    display: flex;
    justify-content: center;
    align-self: center;
    margin: 20px;
}

.parteners .parteners-media img {
    width: fit-content;
    height: fit-content;

}

.contact {
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.map img {
    float: right;
}

.map {}
